
@import '../../../ui/components/css/bars.css';

.buttons {
    position: fixed;
    height: 15%;
    opacity: 1;
    transition: 0.4s;
}

.expanded .buttons {
    z-index: 5000;
    background-image: linear-gradient(to top, #FFFFFF, #FFFFFF, rgba(255,255,255,0), rgba(255,255,255,0));
}

.expanded .buttons .cell {
    will-change: opacity;
    transition: 0.2s;
    opacity: 1;
}

.expanded .buttons .cell:first-child {
    opacity: 0;
}

.expanded .buttons .cell:last-child {
    opacity: 0;
}

.buttons.down {
    bottom: 0;
}

