.App-profile {
    height: 91%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background:linear-gradient(to bottom, #f4f4f4, #f7f8fb);
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0) scale(1);    
    transition: 0.2s;
    touch-action: none;
}

.expanded .content {
    transform: translate3d(0, -35%, 0) scale(1.1);
    touch-action: initial;
}

.expanded .navigator li {
    transform: translateY(4500%) scale(0.8);
    transition: 0.2s
}

.next {
    transform: scale(0.8);
    opacity: 0;
    position: absolute;
    width: 100%;
}

.goNext .next {
    opacity: 1;
}