.App-profile {
    height: 91%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background:linear-gradient(to bottom, #f4f4f4, #f7f8fb);
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0) scale(1);    
    transition: 0.2s;
    touch-action: none;
}

.expanded .content {
    transform: translate3d(0, -35%, 0) scale(1.1);
    touch-action: initial;
}

.expanded .navigator li {
    transform: translateY(3850%) scale(0.85);
    transition: 0.2s
}

.goNext .draggable-frame {
    opacity: 0;
    transition: 0.4s    
}

.goNext .draggable-frame.right { 
    transform: translate3d(150%, 10%, 0) rotateZ(-25deg) !important;
}

.goNext .draggable-frame.up { 
    transform: translate3d(0%, -150%, 0) rotateZ(-5deg) !important;
}

.goNext .draggable-frame.left { 
    transform: translate3d(-150%, 10%, 0) rotateZ(25deg) !important;
}

.next {
    transform: scale(0.8);
    opacity: 0;
    position: absolute;
    width: 100%;
}

.goNext .next {
    opacity: 1;
    transition: 0.4s;
    transform: scale(1);    
}