

.draggable-frame {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1000;

    will-change: transform;
    /* touch-action: none; */
}

.draggable-frame .mark {
    position: absolute;
    top: 15%;
    line-height: 1.7em;
    font-size: 2.5em;
    border: 1px solid;
    border-radius: 2%;
    padding: 0 4% 0 4%;
    opacity: 0;
}

.draggable-frame .mark.like {
    color: green;
    transform: rotateZ(-20deg);
    left: 10%;    
}

.draggable-frame .mark.nope {
    color: red;
    transform: rotateZ(20deg);
    right: 10%;
}